/* Style para práctica de Laboratorio - Lucia Balbas */
/* Estilo universal */
* {
    box-sizing: border-box;
    margin: 0;
}

/* Cuerpo */
body {
    background: #1c1a28;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Cuerpo del formulario */
.selector {
    width: 450px;
    border-radius: 5px;
    background: #242934;
    border: 1px solid #353c4f;
    padding: 1em 2.5em;
}

/* Titulo */
h1 {
    color: #a0aedf;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

/* Formulario */
form {
    margin: 1em 0;
}

/* Etiquetas */
.form-control label {
    font-family: 'Poppins', sans-serif;
    color: #70799e;
    display: block;
}

/* Botón de enviar, Raton Sobre, Activo */
button#submit {
    width: 100%;
    text-align: center;
    margin: 1em 0;
    padding: 0.8em;
    font: 600 1em 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #c4c4c4;
    background: #5845fe;
    border-radius: 5px;
    border: 2px solid #1c1a29;
    cursor: pointer;
    transition: 1s;
}

button#submit:hover {
    letter-spacing: 5px;
    box-shadow: 0px 5px 5px 3px #1c1a29;
    transition: letter-spacing 1s ease-in, box-shadow 1s ease-out;
}

button#submit:active {
    transform: translateY(4px);
    box-shadow: none;
}

/* Estilos de los Inputs, Foco, Error y Correcto (Icono) */
.form-control input {
    width: 100%;
    padding: 1em;
    padding-right: 35px;
    border-radius: 5px;
    margin: 0.5em 0;
    border: 3px solid transparent;
    outline: none;
}

.form-control input:focus {
    outline: none;
    box-shadow: 0px 0px 5px 2px #b5b5b5;
}

.form-control.error input {
    border: 3px solid #c10000;
    background: field url(images/error-icon.svg) no-repeat 97%;
    background-size: 20px;
}

.form-control.success input {
    border: 3px solid #008000;
    background: field url(images/success-icon.svg) no-repeat 97%;
    background-size: 20px;
}

/* Texto error */
.form-control p {
    width: 100%;
    height: 21px;
    font: 14px 'Poppins', sans-serif;
    color: #ff4040;
}

/* Media querie para un diseño responsive - Pantallas menores a 600px */
@media screen and (max-width: 600px) {
    .selector {
        width: 100%;
    }
}